<div>
    <h2>
        <span jhiTranslate="mallGatewayApp.orderItem.home.title">Order Items</span>
        <button class="btn btn-primary float-right create-order-item" [routerLink]="['/', { outlets: { popup: ['order-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mallGatewayApp.orderItem.home.createLabel">
            Create new Order Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="mallGatewayApp.orderItem.productId">Product Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="mallGatewayApp.orderItem.productName">Product Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="mallGatewayApp.orderItem.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="mallGatewayApp.orderItem.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderBillCode"><span jhiTranslate="mallGatewayApp.orderItem.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItem of orderItems ;trackBy: trackId">
                <td><a [routerLink]="['../order-item', orderItem.id ]">{{orderItem.id}}</a></td>
                <td>{{orderItem.productId}}</td>
                <td>{{orderItem.productName}}</td>
                <td>{{orderItem.price}}</td>
                <td>{{orderItem.quantity}}</td>
                <td>
                    <div *ngIf="orderItem.orderId">
                        <a [routerLink]="['../order', orderItem.orderId  ]" >{{orderItem.orderBillCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-item', orderItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-item/'+ orderItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-item/'+ orderItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="orderItems && orderItems.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
