<div>
    <h2>
        <span jhiTranslate="mallGatewayApp.order.home.title">Orders</span>
        <button class="btn btn-primary float-right create-order" [routerLink]="['/', { outlets: { popup: ['order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mallGatewayApp.order.home.createLabel">
            Create new Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="billCode"><span jhiTranslate="mallGatewayApp.order.billCode">Bill Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalAmount"><span jhiTranslate="mallGatewayApp.order.totalAmount">Total Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="mallGatewayApp.order.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shopId"><span jhiTranslate="mallGatewayApp.order.shopId">Shop Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerId"><span jhiTranslate="mallGatewayApp.order.customerId">Customer Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeCreated"><span jhiTranslate="mallGatewayApp.order.timeCreated">Time Created</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['../order', order.id ]">{{order.id}}</a></td>
                <td>{{order.billCode}}</td>
                <td>{{order.totalAmount}}</td>
                <td jhiTranslate="{{'mallGatewayApp.OrderStatus.' + order.status}}">{{order.status}}</td>
                <td>{{order.shopId}}</td>
                <td>{{order.customerId}}</td>
                <td>{{order.timeCreated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order', order.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="orders && orders.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
